body {
	margin: auto 0;
	font-family: Arial;
}

.zone {
	border: 1px solid #bbb;
	border-radius: 4px;
	margin: 0;
	cursor: pointer;
	transition: all 0.3s linear;
	font-size: 2em;		
}

.zone:hover {
	box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.box:hover {
	transform: rotate(-7deg);
}

/*NAVIGATION BAR*/
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.green {
	background: linear-gradient(green, yellow);
	margin: 0;
}


.main-nav {
	display: flex;
	grid-template-columns: 1fr 1fr 2fr 4fr;
	list-style: none;
	font-size: 0.7em;
	margin: 0;
	padding: 0;
}

li {
	padding: 20px;
}

a {
	color: #F5f5f6;
	text-decoration: none;
}

.push {
	margin-left: auto;
}

@media only screen and (max-width:  600px)
	.main-nav {
		font-size: 0.5em;
		padding: 0;
	}


/*COVER*/
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh ;
}

.red {
/*	background: linear-gradient(to bottom, #FF1E00, #F00083);*/
	
}


/*GRID*/

.blue {
	background: linear-gradient(to right, #0874E4, #00C8C8);
	
}

.grid-wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
	width: 100%;
}

.box {
	background-color: #444;
	padding: 130px;
	margin: 20px;
}

footer {
	text-align: center;
}

/*FOOTER*/

.yellow {
	background: linear-gradient(to right, #FFD200, #F8FF00);
}


/*De aici continua*/

.cover {
	width:30rem;
}